* {
    font-family: 'Courier New', Courier, monospace;
}
.am-title {
    font-weight: bolder;
    text-align: center;
}
.am-quote {
    text-align: center;
    font-style: italic;
}
hr {
    border: 2px dashed #888;
}
body {
    background-color: aliceblue;
}