* {
    font-family: 'Courier New', Courier, monospace;
}
.am-title {
    font-weight: bolder;
    text-align: center;
}
hr {
    border: 2px dashed #888;
}
body {
    background-color: aliceblue;
}
#am-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    overflow: hidden;
    white-space: nowrap;
}
#am-quote {
    display: flex;
    justify-content: center;
    font-size: 21px;
}
#am-submit-button {
}
#am-user-input {
}
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
